In [1]:
def find_module(modulename, filename=None):
    """Finds a python module or package on the standard path.
       If a filename is specified, add its containing folder
       to the system path.
       Returns a string of the full path to the module/package."""
    import imp
    import sys
    import os
    full_path = []
    if filename:
        full_path.append(os.path.dirname(os.path.abspath(filename)))
    full_path += sys.path
    fname = imp.find_module(modulename, full_path)
    return fname[1]

In [2]:
find_module('pandas_profiling')

'/home/guilourenzo/anaconda3/lib/python3.7/site-packages/pandas_profiling'

In [84]:
import numpy as np
import pandas as pd

import visions.types as vt
from visions.application.summaries import CompleteSummary
from visions.functional import (
    cast_and_infer_frame,
    cast_frame,
    detect_frame_type,
    infer_frame_type,
)
from visions.typesets import CompleteSet

integer_series = pd.Series([1, 2, 3, 4, 5, -100000, np.nan], dtype="Int64")

summarizer = CompleteSummary()
summary = summarizer.summarize_series(integer_series, vt.Integer)

print(summary)

{'inf_count': 0, 'mean': -16664.166666666668, 'std': 40826.05381575185, 'var': 1666766670.1666665, 'max': 5.0, 'min': -100000.0, 'median': 2.5, 'kurt': 5.999999974801513, 'skew': -2.449489736169953, 'sum': -99985.0, 'mad': 27778.611111111113, 'quantile_5': -74999.75, 'quantile_25': 1.25, 'quantile_50': 2.5, 'quantile_75': 3.75, 'quantile_95': 4.75, 'iqr': 2.5, 'range': 100005.0, 'cv': -2.449930718552894, 'monotonic_increase': False, 'monotonic_decrease': False, 'n_zeros': 0, 'n_unique': 6, 'frequencies': {1: 1, 2: 1, 3: 1, 4: 1, 5: 1, -100000: 1}, 'n_records': 7, 'memory_size': 191, 'dtype': Int64Dtype(), 'types': {'int': 6, 'NAType': 1}, 'na_count': 1}

In [68]:
x = {}
for k, v in summary.items():
    if not isinstance(summary[k], dict):
        x[k] = v


t2 = pd.DataFrame(x, index=[0])
t2

,inf_count,mean,std,var,max,min,median,kurt,skew,sum,...,range,cv,monotonic_increase,monotonic_decrease,n_zeros,n_unique,n_records,memory_size,dtype,na_count
0,0,-16664.166667,40826.053816,1.666767e+09,5.0,-100000.0,2.5,6.0,-2.44949,-99985.0,...,100005.0,-2.449931,False,False,0,6,7,191,Int64,1

In [85]:
df = pd.read_csv('houses_to_rent_mba4.csv')

In [123]:
# Initialize the typeset
typeset = CompleteSet()

# Infer the column type
types = detect_frame_type(df, typeset)

# Generate a summary
summarizer = CompleteSummary()
summary = summarizer.summarize(df, types)

In [127]:
type(summary)

dict

In [128]:
x = {}
for k, v in summary.items():
    if not isinstance(summary[k], dict):
        x[k] = v


t2 = pd.DataFrame(summary)
t2

,types,series,frame
Unnamed: 0,Integer,"{'inf_count': 0, 'mean': 5882.0, 'std': 3396.4...",NaN
city,String,"{'n_unique': 7, 'length': [9, 9, 12, 12, 9, 9,...",NaN
area,Float,"{'inf_count': 0, 'mean': 145.65269102421493, '...",NaN
rooms,Float,"{'inf_count': 0, 'mean': 2.4964059558446006, '...",NaN
bathroom,Integer,"{'inf_count': 0, 'mean': 2.280407989800255, 's...",NaN
parking spaces,Float,"{'inf_count': 0, 'mean': 2.1817045454545454, '...",NaN
floor,String,"{'n_unique': 37, 'length': [1.0, 2.0, 1.0, 1.0...",NaN
hoa,Integer,"{'inf_count': 0, 'mean': 1162.632214194645, 's...",NaN
rent,Integer,"{'inf_count': 0, 'mean': 4033.429154271143, 's...",NaN
tax,String,"{'n_unique': 1227, 'length': [3, 4, 2, 2, 2, 3...",NaN
insurance,Integer,"{'inf_count': 0, 'mean': 56.52758181045474, 's...",NaN
total,Float,"{'inf_count': 0, 'mean': 5622.369885252869, 's...",NaN
page hits,String,"{'n_unique': 290, 'length': [3, 3, 2, 2, 4, 3,...",NaN
days available,Integer,"{'inf_count': 0, 'mean': 73.65465363365915, 's...",NaN
interactions,Integer,"{'inf_count': 0, 'mean': 228.02396940076497, '...",NaN
weeks available,Integer,"{'inf_count': 0, 'mean': 10.30939226519337, 's...",NaN
type,String,"{'n_unique': 2, 'length': [4, 4, 4, 4, 4, 5, 4...",NaN
country,String,"{'n_unique': 3, 'length': [6, 6, 6, 6, 6, 6, 6...",NaN
n_observations,NaN,NaN,11765
n_variables,NaN,NaN,18
memory_size,NaN,NaN,5793001
type_counts,NaN,NaN,Integer 8 String 6 Float 4 dtype: ...
na_count,NaN,NaN,3126
n_vars_missing,NaN,NaN,0

In [130]:
summary.keys()

dict_keys(['types', 'series', 'frame'])