#### EXERCICIO 1

In [2]:
import pandas as pd

In [3]:
escolas = pd.read_csv('ESC2013_RMSP_CEM.csv')
enem = pd.read_csv('ENEM2015.csv')

In [12]:
cod = enem['CODIGO DA ENTIDADE']
qtd_escolas = escolas[escolas.CODESC.isin(cod)]
qtd_escolas.shape

(1243, 136)

#### EXERCICIO 2

In [13]:
escolas.isnull().sum().sum()

776346

In [14]:
enem.isnull().sum().sum()

1

#### EXERCICIO 3

In [20]:
nulos_enem = enem.isna().sum(axis=1)
print('\nColuna com mais valores faltantes:',nulos_enem.idxmax())

Coluna com mais valores faltantes: 1182

In [19]:
nulos_escolas = escolas.isna().sum(axis=1)
print('\nColuna com mais valores faltantes:',nulos_escolas.idxmax())

Coluna com mais valores faltantes: 3431

#### EXERCICIO 4

In [28]:
enem['Classificacao'].fillna(enem['Classificacao'].mode(), inplace=True)

#### EXERCICIO 5

In [39]:
enem_esc = enem[['CODIGO DA ENTIDADE', 'NUMERO DE PARTICIPANTES']].sort_values('NUMERO DE PARTICIPANTES', ascending = False).head(1)

In [47]:
escola_enem = escolas[escolas.CODESC.isin(enem_esc['CODIGO DA ENTIDADE'])]
escola_enem.NOMEESC

2254    BRASILIO FLORES DE AZEVEDO
Name: NOMEESC, dtype: object