In [1]:
# DEFINIÇÃO DA SEMENTE ALEATÓRIA
import random
random.seed(42)

# IMPORTAÇÃO DOS PACOTES PARA A MANIPULAÇÃO DE DADOS
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# IMPORTAÇÃO DOS PACOTES PARA A MODELAGEM DE DADOS
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn import svm

# IMPORTAÇÃO DOS PACOTES PARA A AVALIAÇÃO DE PERFORMANCE DOS MODELOS
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_score, recall_score, classification_report, f1_score

In [9]:
# LEITURA DO ARQUIVO 'WINE'
wines = pd.read_csv('winequality-red.csv', sep=';')

print('Número de linhas e colunas carregados: ', wines.shape)
attributes = list(wines.columns)

wines.head()

Número de linhas e colunas carregados:  (1599, 12)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5