# <span style="color:blue"> MBA em Ciência de Dados</span>
# <span style="color:blue">Programação para Ciência de Dados</span>

## <span style="color:blue">Pandas Parte III</span>
**Material Produzido por Luis Gustavo Nonato e Bruno Coelho**<br>
**Cemeai - ICMC/USP São Carlos**
---

__Conteúdo:__
- GroupBy
    - Agregação
    - Filtragem
    - Transformação

__Referências__ <br>
- [Pandas: powerful Python data analysis toolkit: Wes McKinney & PyData Devel. Team](https://pandas.pydata.org/pandas-docs/stable/pandas.pdf)
- [http://pandas.pydata.org/pandas-docs/stable/index.html](http://pandas.pydata.org/pandas-docs/stable/index.html)

## Introdução

Frequentemente queremos aplicar transformações e filtragens  um subconjunto de dados a fim de extrair informações relevantes e padrões contidos nos dados. Por exemplo, analisar o salário médio de um grupo de profissionais considerando o sexo e a faixa etária dos profissionais.
Muitas destas transformações podem ser realizadas por meio de uma operação denominada _MapReduce_.

_MapReduce_ é implementada no pacote <font color='blue'>Pandas</font> por meio do método <font color='blue'>groupby</font>.

Em geral, o método <font color='blue'>groupby</font> envolve 3 tarefas:
- __Split__: Divide os dados em subgrupos. Por exemplo, divide os profissionais em subgrupos de acordo com a faixa etária dos profissionais.
- __Apply__: Aplica alguma transformação, agregação ou filtragem para extrair informações de cada subgrupo. Por exemplo, pode-se calcular a média salarial em cada faixa etária dos profissionais.
- __Combine__: Combina os resultados das transformações a fim de facilitar (viabilizar) novas análises.

$$
\begin{array}{ccccc}
DataFrame & & Split & Apply & Combine\\
\begin{array}{c|c}
C1 & C2 \\ \hline
A & 0 \\ \hline
B & 5 \\ \hline
C & 10 \\ \hline
A & 5 \\ \hline
B & 5 \\ \hline
C & 10 \\ \hline
A & 10 \\ \hline
B & 5 \\ \hline
C & 10 
\end{array} &
\begin{array}{c}
\nearrow \\ \\
\rightarrow \\ \\
\searrow
\end{array} &
\begin{array}{c|c}
A & 0 \\ \hline
A & 5 \\ \hline
A & 10 \\ \\
B & 5 \\ \hline
B & 5 \\ \hline
B & 5 \\ \\
C & 10 \\ \hline
C & 10 \\ \hline
C & 10 
\end{array} &
\begin{array}{c}
\searrow\\ \\
\rightarrow \\ \\
\nearrow
\end{array} & 
\begin{array}{c|c}
A & 15 \\ \hline
B & 15 \\ \hline
C & 30 
\end{array}
\end{array}
$$

## Split
A etapa de "split" divide um conjunto de dados de acordo com algum critério, que pode ser valores das colunas do DataFrame, lista de valores externos ou até mesmo o resultado de uma função. 

Na verdade, o  <font color='blue'>pandas</font> não divide o DataFrame, mas sim cria uma estrutura que permite operar como se os dados estivessem divididos, evitando o uso excessivo de memória.

Portanto, é importante estar atento, pois o resultado de aplicar o método <font color='blue'>groupby</font> não é um novo DataFrame (ou Serie), mas sim um objeto do tipo `groupby`.
Para visualizar ou acessar os grupos criados pode-se, ou realizar uma redução ou utilizar algum método do objeto `groupby`, como por exemplo:
- <font color='blue'>first()</font>: apresenta a primeira linha de cada grupo formado
- <font color='blue'>get_group()</font>: retorna um DataFrame com o conteúdo de um grupo
- <font color='blue'>groups()</font>: retorna um dicionário onde as chaves são os rótulos dos grupos e os valores os índices das linhas onde elementos do grupo ocorrem

In [1]:
# Importando o pacote 'pandas'
import pandas as pd

# O comando abaixo carrega um arquivo de dados disponível online
df = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/master/pandas/tests/data/tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [38]:
# Agrupando os dados de acordo com os valores da coluna "sex"

df_sex = df.groupby("sex")

# Perceba que a variável 'df_sex' não é um DataFrame, mas sim 
# um 'DataFrameGroupBy'
print(type(df_sex))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [72]:
# visualizando a primeira linha de cada grupo
print(type(df_sex.first()))
print('\n primeira linha cada grupo:\n',df_sex.first())

<class 'pandas.core.frame.DataFrame'>

 primeira linha cada grupo:
         total_bill   tip smoker  day    time  size
sex
Female       16.99  1.01     No  Sun  Dinner     2
Male         10.34  1.66     No  Sun  Dinner     3

In [71]:
# visualizando as primeiras linhas do grupo 'Male'
print('\n',type(df_sex.get_group('Male')))
print('\n primeiras linhas do grupo "Male":\n',
      df_sex.get_group('Male').head())

 <class 'pandas.core.frame.DataFrame'>

 primeiras linhas do grupo "Male":
    total_bill   tip   sex smoker  day    time  size
1       10.34  1.66  Male     No  Sun  Dinner     3
2       21.01  3.50  Male     No  Sun  Dinner     3
3       23.68  3.31  Male     No  Sun  Dinner     2
5       25.29  4.71  Male     No  Sun  Dinner     4
6        8.77  2.00  Male     No  Sun  Dinner     2

In [73]:
# o método 'groups' retorna um dicionário onde as chaves 
# são os rótulos dos grupos formados e os valores os índices das linhas
# onde os elementos do grupo estão
print('\n',type(df_sex.groups))
print('\n rótulos dos grupos:\n',df_sex.groups.keys())
print('\n indices de alguns elementos do grupo "Female":\n',
      df_sex.groups['Female'][0:5])

 <class 'dict'>

 rótulos dos grupos:
 dict_keys(['Female', 'Male'])

 indices de alguns elementos do grupo "Female":
 Int64Index([0, 4, 11, 14, 16], dtype='int64')

#### Agrupando de acordo com uma lista externa
O método <font color='blue'>groupby</font> pode agrupar um DataFrame de acordo com uma lista externa (não é parte do DataFrame) de valores. Para isso, a lista deve possuir um número de elementos igual ao número de linhas do DataFrame.

In [75]:
# Construindo DataFrame a partir de um dicionário
df = pd.DataFrame({'key1': ['a','a','b','b','a'],
                  'key2': ['one','two','one','two','one'], 
                  'data1': np.random.uniform(low=0,high=1,size=5),
                  'data2': np.random.uniform(low=0,high=1,size=5)})
print(df)

# criando uma lista de 0 e 1 com o mesmo número de linhas do DataFrame
ls = [i for i in np.random.randint(0,2,df.shape[0])]
print(ls)

  key1 key2     data1     data2
0    a  one  0.701810  0.267600
1    a  two  0.094688  0.056701
2    b  one  0.838937  0.778920
3    b  two  0.631319  0.323464
4    a  one  0.864086  0.908232
[0, 1, 0, 1, 1]

In [78]:
# Agrupando o DataFrame de acordo com a lista 'ls'
gbylist = df.groupby(ls)

print(gbylist.get_group(0))
print(gbylist.get_group(1))

  key1 key2     data1    data2
0    a  one  0.701810  0.26760
2    b  one  0.838937  0.77892
  key1 key2     data1     data2
1    a  two  0.094688  0.056701
3    b  two  0.631319  0.323464
4    a  one  0.864086  0.908232

#### Agrupando com múltiplos critérios (indexação hierárquica)
Quando mais que um conjunto de valores é enviado como parâmetro para o <font color='blue'>groupby</font>, o resultado é um agrupamento com índices organizados de forma hierárquica.

In [89]:
# Construindo DataFrame a partir de um dicionário
df = pd.DataFrame({'key1': ['a','a','b','b','a','a','b','a'],
                  'key2': ['one','two','one','two','one','two','two','one'], 
                  'data1': np.random.uniform(low=0,high=1,size=8),
                  'data2': np.random.uniform(low=0,high=1,size=8)})

df

  key1 key2     data1     data2
0    a  one  0.439193  0.936900
1    a  two  0.102908  0.184986
2    b  one  0.045203  0.347324
3    b  two  0.750849  0.059108
4    a  one  0.450183  0.214559
5    a  two  0.510446  0.216753
6    b  two  0.876340  0.629353
7    a  one  0.907657  0.609903

In [91]:
# agrupando com base nos valores das colunas 'key1' e 'key2'
dfh = df.groupby(['key1','key2'])

# imprimindo o conteúdo de cada grupo com um laço for
# 'groupname' corresponde ao índice do grupo, uma tupla neste caso
# 'group' corresponde ao grupo\ própriamente dito
for groupname,group in dfh:
    print('Rotulo do Grupo: ',groupname)
    print(group,'\n')

Indices do Grupo:  ('a', 'one')
  key1 key2     data1     data2
0    a  one  0.439193  0.936900
4    a  one  0.450183  0.214559
7    a  one  0.907657  0.609903

Indices do Grupo:  ('a', 'two')
  key1 key2     data1     data2
1    a  two  0.102908  0.184986
5    a  two  0.510446  0.216753

Indices do Grupo:  ('b', 'one')
  key1 key2     data1     data2
2    b  one  0.045203  0.347324

Indices do Grupo:  ('b', 'two')
  key1 key2     data1     data2
3    b  two  0.750849  0.059108
6    b  two  0.876340  0.629353

#### Agrupando com funções
Uma função pode ser enviada como parâmetro de agrupamento para o <font color='blue'>groupby</font>. Neste caso, a função é aplicada aos rótulos das linhas do DataFrame e o resultado utilizado como rótulo do grupo.

In [169]:
# constuindo DataFrame com rótulos de linhas e colunas
dfp = pd.DataFrame(data=np.random.randint(low=0, high=10, size=(6,5)),
               columns=['a','b','c','d','e'], 
               index=['Joe','Michel','Steve','Wes','Jim','Travis'])
dfp

        a  b  c  d  e
Joe     8  7  1  2  0
Michel  1  6  0  3  4
Steve   2  5  5  9  8
Wes     9  7  6  8  0
Jim     8  3  3  0  3
Travis  0  2  3  4  5

In [170]:
# agrupando de acordo com o número de caracteres nos rótulos das linhas
gbf = dfp.groupby(lambda x: len(x))

for name, group in gbf:
    print('Grupo: ',name)
    print(group,'\n')

Grupo:  3
     a  b  c  d  e
Joe  8  7  1  2  0
Wes  9  7  6  8  0
Jim  8  3  3  0  3

Grupo:  5
       a  b  c  d  e
Steve  2  5  5  9  8

Grupo:  6
        a  b  c  d  e
Michel  1  6  0  3  4
Travis  0  2  3  4  5

# Transformações e Agregações

Em geral, temos 5 tipos de operações que podem ser aplicadas aos grupos:


- __Métodos de agregação__: Combinam várias linhas em um único valor. Exemplos incluem pegar a média, soma, mediana, etc. de cada coluna em cada grupo.

- __Métodos de filtragem__: Retornam apenas um subconjunto dos dados origains. Geralmente utilizados para comparar estatísticas do grupo com a tabela inteira.

- __Métodos de tranformação__: Retornam um DataFrame com o mesmo tamanho e índices dos dados originais, mas com valores transformados com base nos grupos.

## Métodos de agregação

Pandas fornece [diversas funções](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#aggregation) estatísticas de agregação, como <font color='blue'>sum, mean, std, max, min </font>. Pode-se ainda combinar várias agregações por meio do método <font color='blue'>agg</font> (de "aggregate")

In [172]:
# Importando o pacote 'pandas'
import pandas as pd

# Carregando um arquivo de dados disponível online
df = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/master/pandas/tests/data/tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [173]:
# Obtendo a maior gorjeta dos grupos 'Male' e 'Female'
print("Gorjeta máxima")

# Agrupamos por genero, depois selecionamos a coluna gorjeta ("tip")
# e pegamos o máximo dela.
print(df.groupby(["sex"])["tip"].max())

Gorjeta máxima
sex
Female     6.5
Male      10.0
Name: tip, dtype: float64

In [96]:
# Pode-se aplicar várias agregações via método "agg"
print("Várias medidas com relação a gorjeta:")
df.groupby(["sex"])["tip"].agg([ "mean", "std"])

Várias medidas com relação a gorjeta:

            mean       std
sex
Female  2.833448  1.159495
Male    3.089618  1.489102

**Importante**: O resultado de uma agregação, transformação ou filtragem  é um novo DataFrame onde os rótulos das linhas são os valores utilizados para realizar o agrupamento. 
Caso queiramos um DataFrame com linhas indexadas com valores $0,1,...$, devemos empregar o método <font color='blue'>reset_index</font>.

In [106]:
# Usando as colunas de agregação como índices
result = df.groupby(["sex"])["tip"].agg(["mean", "std"])
print(result,'\n')
print("Rotulos dos grupos:\n", result.index)
print("\nRotulos das colunas:\n", result.columns)

            mean       std
sex
Female  2.833448  1.159495
Male    3.089618  1.489102

Rotulos dos grupos:
 Index(['Female', 'Male'], dtype='object', name='sex')

Rotulos das colunas:
 Index(['mean', 'std'], dtype='object')

In [107]:
# Não utilizando as colunas de agregação como índices
result = df.groupby(["sex"])["tip"].agg(["mean", "std"]).reset_index()
print(result,'\n')
print("Rotulos dos grupos:\n", result.index)
print("\nRotulos das colunas:\n", result.columns)

      sex      mean       std
0  Female  2.833448  1.159495
1    Male  3.089618  1.489102

Rotulos dos grupos:
 RangeIndex(start=0, stop=2, step=1)

Rotulos das colunas:
 Index(['sex', 'mean', 'std'], dtype='object')

Pode-se aplicar agregações diferentes para cada coluna com o uso de dicionário.

In [175]:
print(df.head())
# calculando a média das gorjetas, 
# o valor máximo das refeições 
# e o dia da semana mais frequente (moda) de cada grupo
dfm = df.groupby(["sex"]).agg({"tip": "mean", 
                         "total_bill": "max",
                         "day": lambda x: x.mode()})


print('\n',dfm.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

              tip  total_bill   day
sex
Female  2.833448       44.30  Thur
Male    3.089618       50.81   Sat

In [114]:
# Pode-se renomear as colunas do DataFrame gerado durante a agregação
# renomeando colunas com agg
print(df.groupby(["sex"]).agg(mean_tip=("tip", "mean"),
                              max_bill=("total_bill", "max"),
                              most_freq_day=("day", lambda x: x.mode())))

        mean_tip  max_bill most_freq_day
sex
Female  2.833448     44.30          Thur
Male    3.089618     50.81           Sat

## Métodos de filtragem

O método mais comum de filtragem é o <font color='blue'>filter </font>que retorna os elementos do grupo que satisfaz uma condição dada.

In [176]:
# Construindo DataFrame a partir de um dicionário
df = pd.DataFrame({'key1': ['a','c','b','c','a','a','b','a','c','b'],
                  'data0': np.random.uniform(low=0,high=1,size=10),
                  'data1': np.random.uniform(low=0,high=1,size=10),
                  'data2': np.random.uniform(low=0,high=1,size=10)})

df

  key1     data0     data1     data2
0    a  0.643754  0.241190  0.886407
1    c  0.360740  0.929251  0.641391
2    b  0.130363  0.084795  0.296545
3    c  0.329217  0.191292  0.772265
4    a  0.059134  0.435140  0.114926
5    a  0.213751  0.556455  0.295767
6    b  0.341838  0.925480  0.330823
7    a  0.777130  0.528267  0.267364
8    c  0.963059  0.057979  0.037075
9    b  0.746784  0.420954  0.995298

In [177]:
# Filtrando os elementos cuja grupo a média do grupo na coluna 'data2'
# é maior que a média geral da coluna 'data1'

# média geral da coluna 'data1'
data1_mean = df['data1'].mean()
print('media da coluna "data1"\n',data1_mean)

# calculando a média de cada coluna em cada grupo
print('\nmedia de cada grupo\n',df.groupby('key1').mean())

# filtrando os grupos cuja média da coluna 'data2' é maior a média 
# geral da coluna 'data1'
print('\n grupos cuja média da coluna "data2" é maior que a média geral de "data1"\n')
print(df.groupby('key1').filter(
    lambda x : x['data2'].mean() > data1_mean))

media da coluna "data1"
 0.43708023293927367

media de cada grupo
          data0     data1     data2
key1
a     0.423442  0.440263  0.391116
b     0.406328  0.477076  0.540889
c     0.551005  0.392840  0.483577

 grupos cuja média da coluna "data2" é maior que a média geral de "data1"

  key1     data0     data1     data2
1    c  0.360740  0.929251  0.641391
2    b  0.130363  0.084795  0.296545
3    c  0.329217  0.191292  0.772265
6    b  0.341838  0.925480  0.330823
8    c  0.963059  0.057979  0.037075
9    b  0.746784  0.420954  0.995298

## Métodos de transformação

#### <font color='blue'>transform</font>
Retorna um DataFrame com o **mesmo número de linhas** que o DataFrame original. A transformação é realizada em cada elemento de cada grupo.

In [183]:
# Construindo DataFrame a partir de um dicionário
df = pd.DataFrame({'key1': ['a','c','b','c','a','a','b','a','c','b'],
                  'data0': np.random.uniform(low=0,high=1,size=10),
                  'data1': np.random.uniform(low=0,high=1,size=10),
                  'data2': np.random.uniform(low=0,high=1,size=10)})

df

  key1     data0     data1     data2
0    a  0.457959  0.453289  0.073779
1    c  0.229437  0.815709  0.760390
2    b  0.299484  0.917252  0.849289
3    c  0.415621  0.541973  0.023200
4    a  0.702530  0.239415  0.666197
5    a  0.556920  0.050453  0.795605
6    b  0.074003  0.933933  0.260926
7    a  0.054860  0.702161  0.310879
8    c  0.786296  0.259622  0.655654
9    b  0.294373  0.509156  0.093493

In [184]:
# Calcula a diferença entre a média do grupo e 
# o elemento do grupo (em cada coluna)
print('média de cada grupo\n',df.groupby("key1").mean())

df[['d1','d2','d3']] = df.groupby("key1").transform(lambda x: x-x.mean())
print('\n',df)

média de cada grupo
          data0     data1     data2
key1
a     0.443067  0.361329  0.461615
b     0.222620  0.786781  0.401236
c     0.477118  0.539101  0.479748

   key1     data0     data1     data2        d1        d2        d3
0    a  0.457959  0.453289  0.073779  0.014892  0.091960 -0.387836
1    c  0.229437  0.815709  0.760390 -0.247681  0.276607  0.280642
2    b  0.299484  0.917252  0.849289  0.076864  0.130472  0.448053
3    c  0.415621  0.541973  0.023200 -0.061497  0.002872 -0.456548
4    a  0.702530  0.239415  0.666197  0.259463 -0.121914  0.204582
5    a  0.556920  0.050453  0.795605  0.113853 -0.310877  0.333990
6    b  0.074003  0.933933  0.260926 -0.148617  0.147152 -0.140310
7    a  0.054860  0.702161  0.310879 -0.388207  0.340831 -0.150736
8    c  0.786296  0.259622  0.655654  0.309178 -0.279479  0.175906
9    b  0.294373  0.509156  0.093493  0.071753 -0.277624 -0.307743

#### apply
Aplica uma função em cada grupo e retorna um DataFrame com o resultado da função em cada grupo. Os rótulos das linhas do DataFrame gerado são os identificadores dos grupos. O método <font color='blue'>apply</font> é o mais versátil dos métodos de transformação

In [185]:
# Construindo DataFrame a partir de um dicionário
df = pd.DataFrame({'key1': ['a','c','b','c','a','a','b','a','c','b'],
                  'data0': np.random.uniform(low=0,high=1,size=10),
                  'data1': np.random.uniform(low=0,high=1,size=10),
                  'data2': np.random.uniform(low=0,high=1,size=10)})

df

  key1     data0     data1     data2
0    a  0.541017  0.682962  0.146493
1    c  0.095814  0.117351  0.744642
2    b  0.030756  0.154175  0.472833
3    c  0.364974  0.503136  0.531725
4    a  0.404640  0.622747  0.442498
5    a  0.653891  0.844669  0.267675
6    b  0.536185  0.291846  0.014539
7    a  0.268012  0.876582  0.884211
8    c  0.217548  0.044641  0.095836
9    b  0.978331  0.139795  0.085688

In [168]:
# agrupando pela coluna 'key1' e calculando a 
# diferença entre o maior e o menor valor de cada coluna em cada grupo
# e retornando a menor diferença

# diferença entre o maior e menor valor em cada coluna em cada grupo
print(df.groupby('key1').apply(lambda x: (x.max()-x.min())))

# menor diferença em cada grupo
max_min = df.groupby('key1').apply(lambda x: (x.max()-x.min()).sort_values()[0])
print(max_min)

         data0     data1     data2
key1
a     0.424786  0.824820  0.749945
b     0.737260  0.270743  0.320039
c     0.843099  0.570657  0.797207
key1
a    0.424786
b    0.270743
c    0.570657
dtype: float64

**Comentário: MapReduce**

Embora frequentemente chamamos qualquer operação split-apply-combine de _MapReduce_, originalmente esse nome foi dado ao modelo de programação desenvolvido pela Apache.

Sua funcionalidade é a mesma do _GroupBy_ do Pandas, porém foi implementado para operar em grandes volumes de dados utilizando algoritmos distribuidos em uma arquitetura de computação paralela (cluster de computadores), garantindo que cada máquina opere sobre um subconjunto específico dos dados, sendo o padrão para tecnologias de Big Data como [Hadoop](https://hadoop.apache.org/)