# <span style="color:blue"> MBA em Ciência de Dados</span>
# <span style="color:blue">Programação para Ciência de Dados</span>

## <span style="color:blue">Pandas Parte I - Exercícios</span>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**
---

#### <span style="color:red">Recomenda-se fortemente que os exercícios sejam feitos sem consultar as respostas antecipadamente.</span>

Os exercícios a seguir farão uso do arquivo <font style="font-family: monaco">WorldCups.csv</font> disponível para download no moodle.

O arquivo <font style="font-family: monaco">WorldCups.csv</font> possui as seguintes colunas:
- Year: ano da copa
- Country: pais sede
- Winner: campeão
- RunnersUp: disputou a final com o campeão
- Third: terceiro colocado
- Fourth: quarto colocado
- GoalsScored: número de gols na copa
- QualifiedTeams: número de times que disputaram a copa
- MatchesPlayed: número de jogos
- Attendance: número de espectadores (público)

In [1]:
import numpy as np
import pandas as pd

### Exercício 1) 
Utilizando o <font color='blue'>pandas</font> leia o arquivo <font style="font-family: monaco">WorldCups.csv</font>, definindo a coluna 'Year' como índice das linhas, e armazene-o em uma variável tipo DataFrame. 
- Exiba as 5 primeiras linhas do DataFrame
- Exiba o tipo de dado de cada coluna
- Imprima o número de linhas do DataFrame?

In [2]:
# SOLUÇÃO

copas = pd.read_csv('WorldCups.csv', index_col = 'Year')
copas.head() #  5 primeiras linhas

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607

In [3]:
# tipo de dado de cada coluna

copas.dtypes

Country           object
Winner            object
RunnersUp         object
Third             object
Fourth            object
GoalsScored        int64
QualifiedTeams     int64
MatchesPlayed      int64
Attendance        object
dtype: object

In [4]:
# numero de linhas

print(copas.shape[0])

20

### Exercício 2) 
Remova as colunas 'QualifiedTeams' e 'MatchesPlayed' do DataFrame `copas`

In [20]:
# SOLUÇÃO

del copas['QualifiedTeams']
del copas['MatchesPlayed']

### Exercício 3) 
Exiba os países sede da copa entre os anos 1954 e 1982 (inclusive)

In [30]:
# SOLUÇÃO
print(copas.loc[1954:1982]['Country']) # extraindo apenas a coluna 'Country' do slicing 

# SOLUÇÃO ALTERNATIVA 1
print(copas['Country'].loc[1954:1982]) # restringindo o slicing a coluna 'Country'

# Se quiser imprimir somente o nome dos países, extraia o conteudo via atributo 'value'
print(copas.loc[1954:1982]['Country'].values)

Year
1954    Switzerland
1958         Sweden
1962          Chile
1966        England
1970         Mexico
1974        Germany
1978      Argentina
1982          Spain
Name: Country, dtype: object
Year
1954    Switzerland
1958         Sweden
1962          Chile
1966        England
1970         Mexico
1974        Germany
1978      Argentina
1982          Spain
Name: Country, dtype: object
['Switzerland' 'Sweden' 'Chile' 'England' 'Mexico' 'Germany' 'Argentina'
 'Spain']

### Exercício 4) 
Encontre e imprima:
- os anos em que o Brasil ganhou a copa 
- os anos em que o Brasil jogou uma final (a final é dada pelas colunas 'Winner' e 'RunnersUp') 
- a proporção de vitórias do Brasil em finais

In [3]:
# SOLUÇÃO

# as buscas abaixo retornam um DataFrame contendo as linhas do DataFrame original onde a expressão é verdadeira
ganhou = copas.query('Winner == "Brazil"')
participou = copas.query('Winner == "Brazil" | RunnersUp == "Brazil"')

# para verificar somente os anos, podemos imprimir somente os rótulos dos DataFrames acima
print('ganhou:', ganhou.index.values)    # anos em que o Brasil venceu
print('final:', participou.index.values) # anos em que o Brasil disputou uma final

print('proporção:', ganhou.shape[0] / participou.shape[0]) # para calcular a proporção de vitórias na final
                                                   # basta dividirmos o número de disputas de final 
                                                    # pelo número de vitórias

ganhou: [1958 1962 1970 1994 2002]
final: [1950 1958 1962 1970 1994 1998 2002]
proporção: 0.7142857142857143

In [4]:
# SOLUÇÃO ALTERNATIVA com loc

ganhou = copas.loc[copas['Winner'] == 'Brazil']
participou = copas.loc[(copas['Winner'] == 'Brazil') | (copas['RunnersUp'] == 'Brazil')]

print('ganhou:', ganhou.index.values)    
print('final:', participou.index.values) 

print('proporção:', ganhou.shape[0] / participou.shape[0])

ganhou: [1958 1962 1970 1994 2002]
final: [1950 1958 1962 1970 1994 1998 2002]
proporção: 0.7142857142857143

### Exercício 5) 
Quais foram as 5 copas com mais gols? 

__Dica:__ Ordene o DataFrame

In [31]:
# SOLUÇÃO

copas_ordenado = copas.sort_values('GoalsScored') # ordenando o DataFrame com base na coluna 'GoalsScored'
copas_ordenado.iloc[-5:]   # imprimindo as 5 copas com mais gols (são as 5 últimas linhas do DataFrame ordenado)

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,Attendance
Year,,,,,,,
1982,Spain,Italy,Germany FR,Poland,France,146,2.109.723
2006,Germany,Italy,France,Germany,Portugal,147,3.359.439
2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,2.705.197
1998,France,France,Brazil,Croatia,Netherlands,171,2.785.100
2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,3.386.810

### Exercício 6) 
Utilize o método <font color='blue'>value_counts</font> para encontrar o número de vezes que cada país ganhou a copa.

In [32]:
# SOLUÇÃO

n_campeao = copas['Winner'].value_counts()

print(n_campeao)

Brazil        5
Italy         4
Germany FR    3
Argentina     2
Uruguay       2
England       1
Spain         1
France        1
Germany       1
Name: Winner, dtype: int64

### Exercício 7)
Quais foram as 5 copas com maior público? Imprima penas o ano, o país e o público.

In [36]:
df_publico = copas[['Country','Attendance']].sort_values('Attendance')

print(df_publico.iloc[-5:])

           Country  Attendance
Year
1998        France     2785100
2010  South Africa     3178856
2006       Germany     3359439
2014        Brazil     3386810
1994           USA     3587538

### Exercício 8)
Construa um dicionário onde as chaves são os países que já participaram de uma final e os valores são o número de vezes que o país participou da final.

In [3]:
# SOLUÇÃO

dic_finalista = {}
for i in range(copas.shape[0]):       # percorre todas as linhas do DataFrame
    pais1 = copas['Winner'].iloc[i]     # Campeão
    pais2 = copas['RunnersUp'].iloc[i]  # Vice
    
    if pais1 in dic_finalista:      # verifica se o campeao ja esta no dicionario
        dic_finalista[pais1] += 1
    else:
        dic_finalista[pais1] = 1
        
    if pais2 in dic_finalista:      # verifica se o vice ja esta no dicionario
        dic_finalista[pais2] += 1
    else:
        dic_finalista[pais2] = 1
        
print(dic_finalista)

{'Uruguay': 2, 'Argentina': 5, 'Italy': 6, 'Czechoslovakia': 2, 'Hungary': 2, 'Brazil': 7, 'Germany FR': 6, 'Sweden': 1, 'England': 1, 'Netherlands': 3, 'France': 2, 'Germany': 2, 'Spain': 1}

### Exercício 9) 
Construa um dicionário com todos os países que já participaram de uma semi-final de copa (os quatro finalistas), onde a chave é o país e o valor corresponde ao número de vezes que o país foi um semi-finalista.

In [4]:
from functools import reduce

# SOLUÇÃO

# A solução poderia ser semelhante ao exercicio anterior, 
# mas considerando também os paises nas colunas 'Third' e 'Fourth'. 
# Vamos porém fazer uma solução diferente, utilizando o método "value_counts"

campeoes = copas['Winner'].value_counts()
vices = copas['RunnersUp'].value_counts()
terceiros = copas['Third'].value_counts()
quartos = copas['Fourth'].value_counts()

# as variáveis 'campeoes', 'vices', 'terceiros' e 'quartos' são series onde o rótulo são os países
# se somarmos as series, teremos o resultado desejado.
# Porém, somar as series gera NaN quando os indices não coincidem
# Para contornar, geramos uma serie onde os indices sao todos os paises e entao
# realizamos a soma.

lfinalistas = [campeoes,vices,terceiros,quartos]
dic_finalista = {}
for s in lfinalistas:
    for index,value in s.items():
        if index in dic_finalista:
            dic_finalista[index] += value
        else:
            dic_finalista[index] = value
            
print(dic_finalista)

{'Brazil': 11, 'Italy': 8, 'Germany FR': 8, 'Argentina': 5, 'Uruguay': 5, 'Germany': 5, 'England': 2, 'Spain': 2, 'France': 5, 'Netherlands': 5, 'Czechoslovakia': 2, 'Hungary': 2, 'Sweden': 4, 'Poland': 2, 'Turkey': 1, 'Austria': 2, 'USA': 1, 'Portugal': 2, 'Croatia': 1, 'Chile': 1, 'Yugoslavia': 2, 'Korea Republic': 1, 'Soviet Union': 1, 'Bulgaria': 1, 'Belgium': 1}